.calendar-app {
    margin: 0 auto;
    width:800px
}
.calendar-board{
    border-collapse: collapse;
}

.calendar-caption {
    font-weight: bold;
    font-size: 20px;
}
.calendar-caption span{
    margin-left: 10px;
}
.calendar-board td {
    width: 100px;
    height: 100px;
    border: black 1px solid;
}

.calendar-board td {
    border: black 1px solid;
}
